body{
    background-color:#FADCD9;
  }
  
  #calculator {
      width: 400px;
      height: 570px;
      margin: 100px auto;
      background-color:#FFC5D0;
      color: #F9F1F0;
      border-radius: 10px;
      border-radius: 20px;
      box-shadow: 10px 10px 15px .1px rgb(255, 164, 237);
    }
  
    .display {
      width: 100%;
      height: 80px;
      background-color: #f6b4d8;
      font-size: 36px;
      text-align: right;
      padding: 20px;
      box-sizing: border-box;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     font-weight: bolder;
     font-family: cursive;
    }
  
    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      padding: 20px;
    }
  
    button {
      width: 100%;
      height: 70px;
      font-size: 24px;
      background-color: #F4B9B8;
      color: #3b3939;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      filter: drop-shadow(10px 10px 10px #B1B1B1);
      font-weight: bolder;
    }
    button:hover{
      transform: scale(1.05);
    }
  
    .operator {
      background-color:#E98980;
      color: #fff;
    }